h1 Testing node.js + socket.io
p Active users:
#connections

p
    button.btn-1(data-element = "button1") A thing to click

p
    button.btn-2(data-element = "button2") Another thing to click

div.hidden.hideable.surprise
    p you found me!
